# Python by-products:
.pytest_cache
**/__pycache__/*
venv

# Run time related:
postgres-data
postgres-data/*
log/*
*.log
upload
upload/*

# Developing tools
node_modules/
package-lock.json

# IDE related
.idea
